.Cp_table {
  height: calc(100% - 35px);
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

.Cp_table tbody {
  flex: auto;
  overflow: auto;
  overflow-x: hidden;
}

.Cp_table thead,
.Cp_table tbody tr {
  display: flex;
  width: 100%;
  height: 40px;
  text-align: center;
}


.Cp_table thead th {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.Cp_table tbody td {
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  box-sizing: border-box;
}


.Cp_table thead {
  width: 100%;
  /* width: calc( 100% - 1em);表头与表格垂直对齐 */
  height: auto;
  background-color: #373c4d;
  color: white;
}

.Cp_paging {
  height: 35px;
  min-height: 35px;
  background-color: aliceblue;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0 10px;
  border-top: 1px solid rgb(24, 106, 239);
  box-sizing: border-box;
  user-select: none;
}

.IsPaging {
  color: rgb(153, 153, 153);
  cursor: pointer;
}

.SeparateColor {
  background: white;
}

.Cp_Btn {
  color: white;
  border: none;
  height: 70%;
  width: 40px;
  margin: 0px 2px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.Cp_table_BtnEdit {
  background-color: rgb(224, 65, 65);
}

.Cp_table_BtnDel {
  background-color: rgb(123, 179, 235);
}

.Cp_PagesCount {
  margin: 0 10px;
}