.PC_ZYL_EditBox_seq {
    overflow: auto;
    overflow-y: hidden;
    display: flex;
    width: 30px;
    min-width: 30px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 0;
    margin: 0;
    background-color: rgb(124, 148, 211);
}

.PC_ZYL_EditBox_seq::-webkit-scrollbar {
    color: transparent;
}

.PC_ZYL_EditBox_seq li {
    list-style: none;
}

.PC_ZYL_EditBox_content {
    padding: 0;
    padding-left: 4px;
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;
    font-size: 15px;
    font-family: "雅黑";
    white-space: nowrap;
    overflow: auto;
    overflow-x: hidden;
    border: 0;
}