.PC_ZYL_table {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  background-color: aliceblue;
}

.PC_ZYL_table tbody {
  display: block;
  flex: auto;
  overflow-y: auto;
}

.PC_ZYL_table thead,
.PC_ZYL_table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}


.PC_ZYL_table thead th{
  width: 50px;
  height: 40px;
}
.PC_ZYL_table tbody td {
  width: 50px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.PC_ZYL_table thead {
  width: 100%;
  /* width: calc( 100% - 1em);表头与表格垂直对齐 */
  height: auto;
  background-color: #373c4d;
  color: white;
}

.PC_ZYL_paging {
  height: 35px;
  background-color: aliceblue;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0 10px;
  border-top: 1px solid rgb(24, 106, 239);
  box-sizing: border-box;
  user-select: none;
}
.IsPaging{
  color: rgb(153, 153, 153); cursor: pointer;
}
.SeparateColor{
  background:white;
}

.PC_ZYL_Btn{
  color: white;
  border: none;
  height: 25px;
  margin: 0 2px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}
.PC_ZYL_table_BtnEdit{
  background-color: rgb(224, 65, 65);
}
.PC_ZYL_table_BtnDel{
  background-color: rgb(123, 179, 235);
}
.PC_ZYL_PagesCount{
  margin:0 10px;
}